@model CaseManagementPortal.Models.Recertification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recertification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecertificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecertificationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecertificationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecertificationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Case)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Case.CaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecertificationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
